.Auth {
    background-color: #ececee;
    width: 400px;
    border-radius: 5px;
    margin: 0 auto;
}

.toggle-register-btn {
    cursor: pointer;
}

.toggle-register-btn:hover {
    text-decoration: underline;
}

.app-title {
    color: #ececee;
}

@media (max-width: 575.98px) {  
    .Auth {
        width: 100% !important;
    }
}
